.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 25px;
  gap: 20px;
  width: 100%;

  & h3 {
    font-size: 16px;
    font-weight: 700;
    color: #222935;
  }
}

.link {
  color: #667081;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .contacts {
    gap: 15px;

    h3 {
      font-size: 14px;
    }

    .link {
      font-size: 14px;
    }
  }
}
