@import "_variables.scss";
@import "_mediaQuery.scss";

$primary-color: rgba(38, 193, 126, 1);
$secondary-color: #222935;
$gray-color: rgba(102, 112, 129, 1);
$white-color: #ffffff;
$error-color: rgba(255, 77, 79, 1);
$border-radius: 8px;
$transition: 0.3s ease;

.contactme_form {
  width: 100%;
  max-width: 800px;
  margin-top: 60px;
  background-color: $secondary-color;
padding-left: 2rem;
padding-right: 2rem; 
padding-bottom: 2rem;
  border-radius: $border-radius;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  .contactme_title {
    text-align: center;
    color: $primary-color;
  }

  .contactme_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;

 
    .contactme_full-width,
    .email-group {
      grid-column: 1 / -1;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; 
    }
  }

  .contactme_input-group {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      width: 100%;
      padding: 14px;
      background-color: $white-color;
      border: 1px solid $gray-color;
      border-radius: $border-radius;
      font-size: 1rem;
      color: $secondary-color;
      transition: $transition;

      &::placeholder {
        color: $gray-color;
      }

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 8px rgba(38, 193, 126, 0.5);
        outline: none;
      }
    }

    textarea {
      resize: none;
    }

    .contactme_error {
      margin-top: 4px;
      font-size: 0.875rem;
      color: $error-color;
    }
  }

  .contactme_button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 14px;
    background-color: $primary-color;
    color: $white-color;
    border: none;
    border-radius: $border-radius;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color $transition;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
