@import "_variables.scss";

.download-button {
  display: flex;
  height: 40px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: $secondary-color;

  cursor: pointer;
  & a {
    font-size: 16px;
    color: #ffffff;
  }
  &:hover {
    background-color: $primary-color;
  }
}
