@import "_variables.scss";
@import "_mediaQuery.scss";

.main {
  display: flex;
}
.contactdiv{
  display: flex;
  justify-content: space-between;
  @include tablet {
    flex-direction: column;
  }
}
.container {
  transition: margin-left 0.5s ease-in-out;
  margin-left: 18rem;
  margin-right: 3rem;
  padding-right: 20px;
  height: auto;

  overflow: hidden;
  @include tablet {
    margin-left: 5.5rem;
    // padding-left: 60px;
    margin-right: 1rem;
    padding-right: 0px;
  }
}
.container.collapsed {
  margin-left: 1.9rem;
  @include tablet {
    margin-left: 1.9rem;
    // padding-left: 60px;
  
  }
  .vertical-timeline{
    max-width: 100%;
  }
}

.back-to-top-button {
  width: 35px;
  height: 35px;
  background-color: $secondary-color;
  position: fixed;
  right: 48px;
  bottom: 1px;
  color: #fff;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  &:hover {
    background-color: $secondary-color;
  }
  @include tablet {
    right: 15px;
  }
}
